definitions {
  name: "misra_analyzer"
  rules: "googlecpp/g1149"
  rules: "googlecpp/g1150"
  rules: "googlecpp/g1151"
  rules: "googlecpp/g1152"
  rules: "googlecpp/g1153"
  rules: "googlecpp/g1154"
  rules: "googlecpp/g1155"
  rules: "googlecpp/g1156"
  rules: "googlecpp/g1157"
  rules: "googlecpp/g1158"
  rules: "googlecpp/g1159"
  rules: "googlecpp/g1160"
  rules: "googlecpp/g1161"
  rules: "googlecpp/g1162"
  rules: "googlecpp/g1163"
  rules: "googlecpp/g1164"
  rules: "googlecpp/g1165"
  rules: "googlecpp/g1166"
  rules: "googlecpp/g1167"
  rules: "googlecpp/g1168"
  rules: "googlecpp/g1169"
  rules: "googlecpp/g1170"
  rules: "googlecpp/g1171"
  rules: "googlecpp/g1172"
  rules: "googlecpp/g1173"
  rules: "googlecpp/g1174"
  rules: "googlecpp/g1175"
  rules: "googlecpp/g1176"
  rules: "googlecpp/g1177"
  rules: "googlecpp/g1178"
  rules: "googlecpp/g1179"
  rules: "googlecpp/g1180"
  rules: "googlecpp/g1181"
  rules: "googlecpp/g1182"
  rules: "googlecpp/g1183"
  rules: "googlecpp/g1184"
  rules: "googlecpp/g1185"
  rules: "googlecpp/g1186"
  rules: "googlecpp/g1187"
  rules: "googlecpp/g1188"
  rules: "googlecpp/g1189"
  rules: "googlecpp/g1190"
  rules: "googlecpp/g1191"
  rules: "googlecpp/g1192"
  rules: "googlecpp/g1193"
  rules: "googlecpp/g1194"
  rules: "googlecpp/g1195"
  rules: "googlecpp/g1196"
  rules: "googlecpp/g1197"
  rules: "googlecpp/g1198"
  rules: "googlecpp/g1199"
  rules: "googlecpp/g1200"
  rules: "googlecpp/g1201"
  rules: "googlecpp/g1202"
  rules: "googlecpp/g1203"
  rules: "googlecpp/g1204"
  rules: "googlecpp/g1205"
  rules: "googlecpp/g1206"
  rules: "googlecpp/g1207"
  rules: "googlecpp/g1208"
  rules: "googlecpp/g1209"
  rules: "googlecpp/g1210"
  rules: "googlecpp/g1211"
  rules: "googlecpp/g1212"
  rules: "googlecpp/g1213"
  rules: "googlecpp/g1214"
  rules: "googlecpp/g1215"
  rules: "googlecpp/g1216"
  rules: "googlecpp/g1269"
  rules: "misra_c_2012/dir_4_3"
  rules: "misra_c_2012/dir_4_7"
  rules: "misra_c_2012/dir_4_10"
  rules: "misra_c_2012/dir_4_11"
  rules: "misra_c_2012/dir_4_12"
  rules: "misra_c_2012/dir_4_14"
  rules: "misra_c_2012/rule_1_1"
  rules: "misra_c_2012/rule_1_3"
  rules: "misra_c_2012/rule_1_4"
  rules: "misra_c_2012/rule_2_1"
  rules: "misra_c_2012/rule_2_2"
  rules: "misra_c_2012/rule_2_3"
  rules: "misra_c_2012/rule_2_4"
  rules: "misra_c_2012/rule_2_5"
  rules: "misra_c_2012/rule_2_6"
  rules: "misra_c_2012/rule_2_7"
  rules: "misra_c_2012/rule_3_1"
  rules: "misra_c_2012/rule_3_2"
  rules: "misra_c_2012/rule_4_1"
  rules: "misra_c_2012/rule_4_2"
  rules: "misra_c_2012/rule_5_1"
  rules: "misra_c_2012/rule_5_2"
  rules: "misra_c_2012/rule_5_3"
  rules: "misra_c_2012/rule_5_4"
  rules: "misra_c_2012/rule_5_5"
  rules: "misra_c_2012/rule_5_6"
  rules: "misra_c_2012/rule_5_7"
  rules: "misra_c_2012/rule_5_8"
  rules: "misra_c_2012/rule_5_9"
  rules: "misra_c_2012/rule_6_1"
  rules: "misra_c_2012/rule_6_2"
  rules: "misra_c_2012/rule_7_1"
  rules: "misra_c_2012/rule_7_2"
  rules: "misra_c_2012/rule_7_3"
  rules: "misra_c_2012/rule_7_4"
  rules: "misra_c_2012/rule_8_1"
  rules: "misra_c_2012/rule_8_2"
  rules: "misra_c_2012/rule_8_3"
  rules: "misra_c_2012/rule_8_4"
  rules: "misra_c_2012/rule_8_5"
  rules: "misra_c_2012/rule_8_6"
  rules: "misra_c_2012/rule_8_7"
  rules: "misra_c_2012/rule_8_8"
  rules: "misra_c_2012/rule_8_9"
  rules: "misra_c_2012/rule_8_10"
  rules: "misra_c_2012/rule_8_11"
  rules: "misra_c_2012/rule_8_12"
  rules: "misra_c_2012/rule_8_14"
  rules: "misra_c_2012/rule_9_1"
  rules: "misra_c_2012/rule_9_2"
  rules: "misra_c_2012/rule_9_3"
  rules: "misra_c_2012/rule_9_4"
  rules: "misra_c_2012/rule_9_5"
  rules: "misra_c_2012/rule_10_1"
  rules: "misra_c_2012/rule_10_2"
  rules: "misra_c_2012/rule_10_3"
  rules: "misra_c_2012/rule_10_4"
  rules: "misra_c_2012/rule_10_5"
  rules: "misra_c_2012/rule_10_6"
  rules: "misra_c_2012/rule_10_7"
  rules: "misra_c_2012/rule_10_8"
  rules: "misra_c_2012/rule_11_1"
  rules: "misra_c_2012/rule_11_2"
  rules: "misra_c_2012/rule_11_3"
  rules: "misra_c_2012/rule_11_4"
  rules: "misra_c_2012/rule_11_5"
  rules: "misra_c_2012/rule_11_6"
  rules: "misra_c_2012/rule_11_7"
  rules: "misra_c_2012/rule_11_8"
  rules: "misra_c_2012/rule_11_9"
  rules: "misra_c_2012/rule_12_1"
  rules: "misra_c_2012/rule_12_2"
  rules: "misra_c_2012/rule_12_3"
  rules: "misra_c_2012/rule_12_4"
  rules: "misra_c_2012/rule_12_5"
  rules: "misra_c_2012/rule_13_1"
  rules: "misra_c_2012/rule_13_2"
  rules: "misra_c_2012/rule_13_3"
  rules: "misra_c_2012/rule_13_4"
  rules: "misra_c_2012/rule_13_5"
  rules: "misra_c_2012/rule_13_6"
  rules: "misra_c_2012/rule_14_1"
  rules: "misra_c_2012/rule_14_2"
  rules: "misra_c_2012/rule_14_3"
  rules: "misra_c_2012/rule_14_4"
  rules: "misra_c_2012/rule_15_1"
  rules: "misra_c_2012/rule_15_2"
  rules: "misra_c_2012/rule_15_3"
  rules: "misra_c_2012/rule_15_4"
  rules: "misra_c_2012/rule_15_5"
  rules: "misra_c_2012/rule_15_6"
  rules: "misra_c_2012/rule_15_7"
  rules: "misra_c_2012/rule_16_1"
  rules: "misra_c_2012/rule_16_2"
  rules: "misra_c_2012/rule_16_3"
  rules: "misra_c_2012/rule_16_4"
  rules: "misra_c_2012/rule_16_5"
  rules: "misra_c_2012/rule_16_6"
  rules: "misra_c_2012/rule_16_7"
  rules: "misra_c_2012/rule_17_1"
  rules: "misra_c_2012/rule_17_2"
  rules: "misra_c_2012/rule_17_3"
  rules: "misra_c_2012/rule_17_4"
  rules: "misra_c_2012/rule_17_5"
  rules: "misra_c_2012/rule_17_6"
  rules: "misra_c_2012/rule_17_7"
  rules: "misra_c_2012/rule_17_8"
  rules: "misra_c_2012/rule_18_1"
  rules: "misra_c_2012/rule_18_2"
  rules: "misra_c_2012/rule_18_3"
  rules: "misra_c_2012/rule_18_4"
  rules: "misra_c_2012/rule_18_5"
  rules: "misra_c_2012/rule_18_6"
  rules: "misra_c_2012/rule_18_7"
  rules: "misra_c_2012/rule_18_8"
  rules: "misra_c_2012/rule_19_1"
  rules: "misra_c_2012/rule_19_2"
  rules: "misra_c_2012/rule_20_1"
  rules: "misra_c_2012/rule_20_2"
  rules: "misra_c_2012/rule_20_3"
  rules: "misra_c_2012/rule_20_4"
  rules: "misra_c_2012/rule_20_5"
  rules: "misra_c_2012/rule_20_6"
  rules: "misra_c_2012/rule_20_7"
  rules: "misra_c_2012/rule_20_8"
  rules: "misra_c_2012/rule_20_9"
  rules: "misra_c_2012/rule_20_10"
  rules: "misra_c_2012/rule_20_11"
  rules: "misra_c_2012/rule_20_12"
  rules: "misra_c_2012/rule_20_13"
  rules: "misra_c_2012/rule_20_14"
  rules: "misra_c_2012/rule_21_1"
  rules: "misra_c_2012/rule_21_2"
  rules: "misra_c_2012/rule_21_3"
  rules: "misra_c_2012/rule_21_4"
  rules: "misra_c_2012/rule_21_5"
  rules: "misra_c_2012/rule_21_6"
  rules: "misra_c_2012/rule_21_7"
  rules: "misra_c_2012/rule_21_8"
  rules: "misra_c_2012/rule_21_9"
  rules: "misra_c_2012/rule_21_10"
  rules: "misra_c_2012/rule_21_11"
  rules: "misra_c_2012/rule_21_12"
  rules: "misra_c_2012/rule_21_13"
  rules: "misra_c_2012/rule_21_14"
  rules: "misra_c_2012/rule_21_15"
  rules: "misra_c_2012/rule_21_16"
  rules: "misra_c_2012/rule_21_17"
  rules: "misra_c_2012/rule_21_18"
  rules: "misra_c_2012/rule_21_19"
  rules: "misra_c_2012/rule_21_20"
  rules: "misra_c_2012/rule_21_21"
  rules: "misra_c_2012/rule_22_1"
  rules: "misra_c_2012/rule_22_2"
  rules: "misra_c_2012/rule_22_3"
  rules: "misra_c_2012/rule_22_4"
  rules: "misra_c_2012/rule_22_5"
  rules: "misra_c_2012/rule_22_6"
  rules: "misra_c_2012/rule_22_7"
  rules: "misra_c_2012/rule_22_8"
  rules: "misra_c_2012/rule_22_9"
  rules: "misra_c_2012/rule_22_10"
  rules: "misra_cpp_2008/rule_0_1_1"
  rules: "misra_cpp_2008/rule_0_1_2"
  rules: "misra_cpp_2008/rule_0_1_3"
  rules: "misra_cpp_2008/rule_0_1_4"
  rules: "misra_cpp_2008/rule_0_1_5"
  rules: "misra_cpp_2008/rule_0_1_6"
  rules: "misra_cpp_2008/rule_0_1_7"
  rules: "misra_cpp_2008/rule_0_1_8"
  rules: "misra_cpp_2008/rule_0_1_9"
  rules: "misra_cpp_2008/rule_0_1_10"
  rules: "misra_cpp_2008/rule_0_1_11"
  rules: "misra_cpp_2008/rule_0_1_12"
  rules: "misra_cpp_2008/rule_0_2_1"
  rules: "misra_cpp_2008/rule_0_3_2"
  rules: "misra_cpp_2008/rule_1_0_1"
  rules: "misra_cpp_2008/rule_2_3_1"
  rules: "misra_cpp_2008/rule_2_7_1"
  rules: "misra_cpp_2008/rule_2_7_2"
  rules: "misra_cpp_2008/rule_2_10_1"
  rules: "misra_cpp_2008/rule_2_10_2"
  rules: "misra_cpp_2008/rule_2_10_3"
  rules: "misra_cpp_2008/rule_2_10_4"
  rules: "misra_cpp_2008/rule_2_10_6"
  rules: "misra_cpp_2008/rule_2_13_1"
  rules: "misra_cpp_2008/rule_2_13_2"
  rules: "misra_cpp_2008/rule_2_13_3"
  rules: "misra_cpp_2008/rule_2_13_4"
  rules: "misra_cpp_2008/rule_2_13_5"
  rules: "misra_cpp_2008/rule_3_1_1"
  rules: "misra_cpp_2008/rule_3_1_2"
  rules: "misra_cpp_2008/rule_3_1_3"
  rules: "misra_cpp_2008/rule_3_2_1"
  rules: "misra_cpp_2008/rule_3_2_2"
  rules: "misra_cpp_2008/rule_3_2_3"
  rules: "misra_cpp_2008/rule_3_2_4"
  rules: "misra_cpp_2008/rule_3_3_1"
  rules: "misra_cpp_2008/rule_3_3_2"
  rules: "misra_cpp_2008/rule_3_4_1"
  rules: "misra_cpp_2008/rule_3_9_1"
  rules: "misra_cpp_2008/rule_3_9_3"
  rules: "misra_cpp_2008/rule_4_5_1"
  rules: "misra_cpp_2008/rule_4_5_2"
  rules: "misra_cpp_2008/rule_4_5_3"
  rules: "misra_cpp_2008/rule_4_10_1"
  rules: "misra_cpp_2008/rule_4_10_2"
  rules: "misra_cpp_2008/rule_5_0_1"
  rules: "misra_cpp_2008/rule_5_0_4"
  rules: "misra_cpp_2008/rule_5_0_5"
  rules: "misra_cpp_2008/rule_5_0_6"
  rules: "misra_cpp_2008/rule_5_0_7"
  rules: "misra_cpp_2008/rule_5_0_8"
  rules: "misra_cpp_2008/rule_5_0_9"
  rules: "misra_cpp_2008/rule_5_0_10"
  rules: "misra_cpp_2008/rule_5_0_11"
  rules: "misra_cpp_2008/rule_5_0_12"
  rules: "misra_cpp_2008/rule_5_0_13"
  rules: "misra_cpp_2008/rule_5_0_14"
  rules: "misra_cpp_2008/rule_5_0_15"
  rules: "misra_cpp_2008/rule_5_0_16"
  rules: "misra_cpp_2008/rule_5_0_17"
  rules: "misra_cpp_2008/rule_5_0_18"
  rules: "misra_cpp_2008/rule_5_0_19"
  rules: "misra_cpp_2008/rule_5_0_20"
  rules: "misra_cpp_2008/rule_5_0_21"
  rules: "misra_cpp_2008/rule_5_2_1"
  rules: "misra_cpp_2008/rule_5_2_2"
  rules: "misra_cpp_2008/rule_5_2_4"
  rules: "misra_cpp_2008/rule_5_2_5"
  rules: "misra_cpp_2008/rule_5_2_6"
  rules: "misra_cpp_2008/rule_5_2_7"
  rules: "misra_cpp_2008/rule_5_2_8"
  rules: "misra_cpp_2008/rule_5_2_11"
  rules: "misra_cpp_2008/rule_5_2_12"
  rules: "misra_cpp_2008/rule_5_3_1"
  rules: "misra_cpp_2008/rule_5_3_2"
  rules: "misra_cpp_2008/rule_5_3_3"
  rules: "misra_cpp_2008/rule_5_3_4"
  rules: "misra_cpp_2008/rule_5_8_1"
  rules: "misra_cpp_2008/rule_5_14_1"
  rules: "misra_cpp_2008/rule_5_18_1"
  rules: "misra_cpp_2008/rule_6_2_1"
  rules: "misra_cpp_2008/rule_6_2_2"
  rules: "misra_cpp_2008/rule_6_2_3"
  rules: "misra_cpp_2008/rule_6_3_1"
  rules: "misra_cpp_2008/rule_6_4_1"
  rules: "misra_cpp_2008/rule_6_4_2"
  rules: "misra_cpp_2008/rule_6_4_3"
  rules: "misra_cpp_2008/rule_6_4_4"
  rules: "misra_cpp_2008/rule_6_4_5"
  rules: "misra_cpp_2008/rule_6_4_6"
  rules: "misra_cpp_2008/rule_6_4_7"
  rules: "misra_cpp_2008/rule_6_4_8"
  rules: "misra_cpp_2008/rule_6_5_1"
  rules: "misra_cpp_2008/rule_6_5_2"
  rules: "misra_cpp_2008/rule_6_5_3"
  rules: "misra_cpp_2008/rule_6_5_4"
  rules: "misra_cpp_2008/rule_6_5_5"
  rules: "misra_cpp_2008/rule_6_5_6"
  rules: "misra_cpp_2008/rule_6_6_1"
  rules: "misra_cpp_2008/rule_6_6_2"
  rules: "misra_cpp_2008/rule_6_6_4"
  rules: "misra_cpp_2008/rule_6_6_5"
  rules: "misra_cpp_2008/rule_7_1_1"
  rules: "misra_cpp_2008/rule_7_1_2"
  rules: "misra_cpp_2008/rule_7_2_1"
  rules: "misra_cpp_2008/rule_7_3_1"
  rules: "misra_cpp_2008/rule_7_3_2"
  rules: "misra_cpp_2008/rule_7_3_3"
  rules: "misra_cpp_2008/rule_7_3_4"
  rules: "misra_cpp_2008/rule_7_3_5"
  rules: "misra_cpp_2008/rule_7_3_6"
  rules: "misra_cpp_2008/rule_7_4_2"
  rules: "misra_cpp_2008/rule_7_4_3"
  rules: "misra_cpp_2008/rule_7_5_1"
  rules: "misra_cpp_2008/rule_7_5_2"
  rules: "misra_cpp_2008/rule_7_5_3"
  rules: "misra_cpp_2008/rule_8_0_1"
  rules: "misra_cpp_2008/rule_8_3_1"
  rules: "misra_cpp_2008/rule_8_4_1"
  rules: "misra_cpp_2008/rule_8_4_2"
  rules: "misra_cpp_2008/rule_8_4_3"
  rules: "misra_cpp_2008/rule_8_4_4"
  rules: "misra_cpp_2008/rule_8_5_1"
  rules: "misra_cpp_2008/rule_8_5_2"
  rules: "misra_cpp_2008/rule_8_5_3"
  rules: "misra_cpp_2008/rule_9_3_1"
  rules: "misra_cpp_2008/rule_9_3_2"
  rules: "misra_cpp_2008/rule_9_3_3"
  rules: "misra_cpp_2008/rule_9_5_1"
  rules: "misra_cpp_2008/rule_9_6_2"
  rules: "misra_cpp_2008/rule_9_6_3"
  rules: "misra_cpp_2008/rule_9_6_4"
  rules: "misra_cpp_2008/rule_10_1_3"
  rules: "misra_cpp_2008/rule_10_3_1"
  rules: "misra_cpp_2008/rule_10_3_2"
  rules: "misra_cpp_2008/rule_10_3_3"
  rules: "misra_cpp_2008/rule_11_0_1"
  rules: "misra_cpp_2008/rule_12_1_1"
  rules: "misra_cpp_2008/rule_12_1_3"
  rules: "misra_cpp_2008/rule_12_8_1"
  rules: "misra_cpp_2008/rule_12_8_2"
  rules: "misra_cpp_2008/rule_14_5_1"
  rules: "misra_cpp_2008/rule_14_5_2"
  rules: "misra_cpp_2008/rule_14_5_3"
  rules: "misra_cpp_2008/rule_14_6_1"
  rules: "misra_cpp_2008/rule_14_6_2"
  rules: "misra_cpp_2008/rule_14_7_1"
  rules: "misra_cpp_2008/rule_14_7_2"
  rules: "misra_cpp_2008/rule_14_7_3"
  rules: "misra_cpp_2008/rule_14_8_1"
  rules: "misra_cpp_2008/rule_15_0_3"
  rules: "misra_cpp_2008/rule_15_1_1"
  rules: "misra_cpp_2008/rule_15_1_2"
  rules: "misra_cpp_2008/rule_15_1_3"
  rules: "misra_cpp_2008/rule_15_3_1"
  rules: "misra_cpp_2008/rule_15_3_3"
  rules: "misra_cpp_2008/rule_15_3_4"
  rules: "misra_cpp_2008/rule_15_3_5"
  rules: "misra_cpp_2008/rule_15_3_6"
  rules: "misra_cpp_2008/rule_15_3_7"
  rules: "misra_cpp_2008/rule_15_4_1"
  rules: "misra_cpp_2008/rule_15_5_1"
  rules: "misra_cpp_2008/rule_15_5_3"
  rules: "misra_cpp_2008/rule_16_0_1"
  rules: "misra_cpp_2008/rule_16_0_2"
  rules: "misra_cpp_2008/rule_16_0_3"
  rules: "misra_cpp_2008/rule_16_0_4"
  rules: "misra_cpp_2008/rule_16_0_5"
  rules: "misra_cpp_2008/rule_16_0_6"
  rules: "misra_cpp_2008/rule_16_0_7"
  rules: "misra_cpp_2008/rule_16_0_8"
  rules: "misra_cpp_2008/rule_16_1_1"
  rules: "misra_cpp_2008/rule_16_1_2"
  rules: "misra_cpp_2008/rule_16_2_1"
  rules: "misra_cpp_2008/rule_16_2_2"
  rules: "misra_cpp_2008/rule_16_2_3"
  rules: "misra_cpp_2008/rule_16_2_4"
  rules: "misra_cpp_2008/rule_16_2_6"
  rules: "misra_cpp_2008/rule_16_3_1"
  rules: "misra_cpp_2008/rule_17_0_1"
  rules: "misra_cpp_2008/rule_17_0_2"
  rules: "misra_cpp_2008/rule_17_0_3"
  rules: "misra_cpp_2008/rule_17_0_5"
  rules: "misra_cpp_2008/rule_18_0_1"
  rules: "misra_cpp_2008/rule_18_0_2"
  rules: "misra_cpp_2008/rule_18_0_3"
  rules: "misra_cpp_2008/rule_18_0_4"
  rules: "misra_cpp_2008/rule_18_0_5"
  rules: "misra_cpp_2008/rule_18_2_1"
  rules: "misra_cpp_2008/rule_18_4_1"
  rules: "misra_cpp_2008/rule_18_7_1"
  rules: "misra_cpp_2008/rule_19_3_1"
  rules: "misra_cpp_2008/rule_27_0_1"
  rules: "cwe/cwe_14"
  rules: "cwe/cwe_20"
  rules: "cwe/cwe_67"
  rules: "cwe/cwe_78"
  rules: "cwe/cwe_88"
  rules: "cwe/cwe_119"
  rules: "cwe/cwe_120"
  rules: "cwe/cwe_121"
  rules: "cwe/cwe_122"
  rules: "cwe/cwe_123"
  rules: "cwe/cwe_124"
  rules: "cwe/cwe_125"
  rules: "cwe/cwe_126"
  rules: "cwe/cwe_127"
  rules: "cwe/cwe_128"
  rules: "cwe/cwe_129"
  rules: "cwe/cwe_130"
  rules: "cwe/cwe_131"
  rules: "cwe/cwe_134"
  rules: "cwe/cwe_135"
  rules: "cwe/cwe_170"
  rules: "cwe/cwe_188"
  rules: "cwe/cwe_190"
  rules: "cwe/cwe_191"
  rules: "cwe/cwe_192"
  rules: "cwe/cwe_194"
  rules: "cwe/cwe_195"
  rules: "cwe/cwe_196"
  rules: "cwe/cwe_197"
  rules: "cwe/cwe_241"
  rules: "cwe/cwe_242"
  rules: "cwe/cwe_243"
  rules: "cwe/cwe_244"
  rules: "cwe/cwe_252"
  rules: "cwe/cwe_253"
  rules: "cwe/cwe_273"
  rules: "cwe/cwe_327"
  rules: "cwe/cwe_330"
  rules: "cwe/cwe_331"
  rules: "cwe/cwe_338"
  rules: "cwe/cwe_362"
  rules: "cwe/cwe_363"
  rules: "cwe/cwe_364"
  rules: "cwe/cwe_366"
  rules: "cwe/cwe_369"
  rules: "cwe/cwe_374"
  rules: "cwe/cwe_375"
  rules: "cwe/cwe_377"
  rules: "cwe/cwe_391"
  rules: "cwe/cwe_401"
  rules: "cwe/cwe_404"
  rules: "cwe/cwe_415"
  rules: "cwe/cwe_416"
  rules: "cwe/cwe_456"
  rules: "cwe/cwe_457"
  rules: "cwe/cwe_459"
  rules: "cwe/cwe_460"
  rules: "cwe/cwe_462"
  rules: "cwe/cwe_463"
  rules: "cwe/cwe_464"
  rules: "cwe/cwe_466"
  rules: "cwe/cwe_467"
  rules: "cwe/cwe_468"
  rules: "cwe/cwe_469"
  rules: "cwe/cwe_474"
  rules: "cwe/cwe_476"
  rules: "cwe/cwe_478"
  rules: "cwe/cwe_479"
  rules: "cwe/cwe_480"
  rules: "cwe/cwe_481"
  rules: "cwe/cwe_482"
  rules: "cwe/cwe_483"
  rules: "cwe/cwe_484"
  rules: "cwe/cwe_495"
  rules: "cwe/cwe_496"
  rules: "cwe/cwe_558"
  rules: "cwe/cwe_560"
  rules: "cwe/cwe_562"
  rules: "cwe/cwe_587"
  rules: "cwe/cwe_590"
  rules: "cwe/cwe_628"
  rules: "cwe/cwe_662"
  rules: "cwe/cwe_664"
  rules: "cwe/cwe_666"
  rules: "cwe/cwe_667"
  rules: "cwe/cwe_672"
  rules: "cwe/cwe_676"
  rules: "cwe/cwe_680"
  rules: "cwe/cwe_681"
  rules: "cwe/cwe_682"
  rules: "cwe/cwe_685"
  rules: "cwe/cwe_686"
  rules: "cwe/cwe_688"
  rules: "cwe/cwe_689"
  rules: "cwe/cwe_690"
  rules: "cwe/cwe_696"
  rules: "cwe/cwe_704"
  rules: "cwe/cwe_705"
  rules: "cwe/cwe_733"
  rules: "cwe/cwe_758"
  rules: "cwe/cwe_762"
  rules: "cwe/cwe_771"
  rules: "cwe/cwe_772"
  rules: "cwe/cwe_773"
  rules: "cwe/cwe_775"
  rules: "cwe/cwe_781"
  rules: "cwe/cwe_782"
  rules: "cwe/cwe_783"
  rules: "cwe/cwe_785"
  rules: "cwe/cwe_786"
  rules: "cwe/cwe_787"
  rules: "cwe/cwe_789"
  rules: "cwe/cwe_805"
  rules: "cwe/cwe_806"
  rules: "cwe/cwe_839"
  rules: "cwe/cwe_843"
  rules: "cwe/cwe_908"
  rules: "cwe/cwe_910"
  rules: "cwe/cwe_911"
  rules: "cwe/cwe_1325"
  rules: "cwe/cwe_1335"
  rules: "cwe/cwe_1341"
  source_location: "misra/analyzer/cmd/misra_analyzer"
  target_location: "/opt/naivesystems/misra_analyzer"
  invocation_path: "/opt/naivesystems/misra_analyzer"
  owners: "xjia@naive.systems"
}
definitions {
  name: "go_analyzer"
  rules: "gr2895"
  rules: "gr2896"
  rules: "gr2897"
  rules: "gr2898"
  rules: "gr2899"
  rules: "gr2900"
  rules: "gr2902"
  rules: "gr2903"
  rules: "gr2904"
  rules: "gr2906"
  rules: "gr2943"
  rules: "gr2944"
  rules: "gr2945"
  rules: "gr2946"
  rules: "gr2947"
  rules: "gr2950"
  rules: "gr2951"
  rules: "gr2952"
  rules: "gr2953"
  rules: "gr2963"
  rules: "gr2964"
  rules: "gr2965"
  rules: "gr3000"
  rules: "gr3001"
  rules: "gr3002"
  rules: "gr3003"
  rules: "gr3004"
  rules: "gr3005"
  rules: "gr3006"
  rules: "gr3007"
  rules: "gr3008"
  rules: "gr3009"
  rules: "gr3010"
  rules: "gr3012"
  rules: "gr3015"
  rules: "gr3016"
  rules: "gr3023"
  rules: "gr3024"
  rules: "gr3025"
  rules: "gr3026"
  rules: "gr3027"
  rules: "gr3028"
  rules: "gr3029"
  rules: "gr3030"
  rules: "gr3031"
  rules: "gr3032"
  rules: "gr3033"
  rules: "gr3034"
  rules: "gr3035"
  rules: "gr3036"
  rules: "gr3037"
  rules: "gr3038"
  rules: "gr3039"
  rules: "gr3046"
  rules: "gr3047"
  rules: "gr3048"
  rules: "gr3049"
  rules: "gr3050"
  rules: "gr3051"
  rules: "gr3052"
  rules: "gr3053"
  rules: "gr3054"
  rules: "gr3055"
  rules: "gr3056"
  rules: "gr3057"
  rules: "gr3058"
  rules: "gr3059"
  rules: "gr3060"
  rules: "gr3087"
  rules: "gr3088"
  source_location: "gorules/analyzer/cmd/go_analyzer"
  target_location: "/opt/naivesystems/go_analyzer"
  invocation_path: "/opt/naivesystems/go_analyzer"
  owners: "xjia@naive.systems"
}
checker_config: {
    csa_system_lib_options: "-isystem /usr/include -isystem /usr/lib/gcc/x86_64-redhat-linux/11/include/ -D__linux__"
    infer_bin: "infer"
    clang_bin: "/opt/naivesystems/clang"
    code_checker_bin: "CodeChecker"
    cppcheck_bin: "/cppcheck/cppcheck"
    python_bin: "python3",
    clangtidy_bin: "/opt/naivesystems/clang-tidy",
    clangquery_bin: "/opt/naivesystems/clang-query"
    misra_checker_path: "/opt/naivesystems/misra"
    infer_extra_options: "--jobs=16 --max-nesting=3 --bo-field-depth-limit=6"
    gcc_predefined_macros: ""
    clangmapping_bin: "/opt/naivesystems/clang-extdef-mapping"
}
