support_user_api_key: "9b79a7aaa10ec335ad956b9fc2d01875e789e5e3"
local_mirror_path: "/home/kevin/test/mirror"
image_name: "naive.systems/analyzer/misra:dev"
podman_load_urls: "/home/wanghaibo/images.tar"
podman_load_urls: ""
scanner_working_directory: "/home/kevin/test/scannerWorkingDir"
issue_policy_working_directory: "/home/kevin/test/issuePolicyWorkingDir"
log_directory: "/home/kevin/test/log"
check_rules_path: "./.naivesystems/check_rules"
git_bin_path: "/usr/bin/git"
podman_bin_path: "/usr/bin/podman"
worker_sleep_interval_in_seconds: 7
allowed_ref_prefixes: "refs/heads"
allowed_ref_prefixes: "refs/dev"
allowed_ref_prefixes: "refs/heads/master"
allowed_project_types: ""
allowed_project_types: "makefile"
allowed_project_types: "cmake"
allowed_project_types: "qmake"
allowed_project_types: "maven"
allowed_project_types: "other"
doc_site_url: "https://docs.naivesystems.com"
get_issues_page_size: 256
common_fingerprints: "github.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOMqqnkVzrm0SdG6UOoqKLsabgH5C9okWi0dh2l9GKJl"
common_fingerprints: "github.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj7ndNxQowgcQnjshcLrqPEiiphnt+VTTvDP6mHBL9j1aNUkY4Ue1gvwnGLVlOhGeYrnZaMgRK6+PKCUXaDbC7qtbW8gIkhL7aGCsOr/C56SJMy/BCZfxd1nWzAOxSDPgVsmerOBYfNqltV9/hWCqBywINIR+5dIg6JTJ72pcEpEjcYgXkE2YEFXV1JHnsKgbLWNlhScqb2UmyRkQyytRLtL+38TGxkxCflmO+5Z8CSSNY7GidjMIZ7Q4zMjA2n1nGrlTDkzwDCsw+wqFPGQA179cnfGWOWRVruj16z6XyvxvjJwbz0wQZ75XK5tKSb7FNyeIEs4TT4jk+S4dhPeAUC5y+bDYirYgM4GC7uEnztnZyaVWQ7B381AK4Qdrwt51ZqExKbQpTUNn+EjqoTwvqNj4kqx5QUCI0ThS/YkOxJCXmPUWZbhjpCg56i+2aB6CmK2JGhn57K5mj0MNdBXA4/WnwH6XoPWJzK5Nyu2zB3nAZp+S5hpQs+p1vN1/wsjk="
common_fingerprints: "github.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEmKSENjQEezOmxkZMy7opKgwFB9nkt5YRrYMjNuG5N87uRgg6CLrbo5wAdT/y6v0mKV0U2w0WZ2YB/++Tpockg="
